<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>
<body>
    <div class="layui-form" action="" lay-filter="formFilter">
        <div class="screen" style="margin-top: 20px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-inline">
                        <select name="securitiesCategoryFilter" id="securitiesCategory">
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="code" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" onclick="queryList()">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>编号</th><th>系统编号</th><th>证券编号</th><th>证券名称</th><th>上市证券市场</th><th>当前成交价</th><th>五日移动成交价</th><th>十五日移动成交价</th><th>五日差额</th><th>十五日差额</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-v3.6.0.js"></script>
<script type="text/javascript" src="/echarts-5.0.2/echarts.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    var pageNo = 1;
    var pageSize = 30;
    var path = "http://127.0.0.1:8080";

    var form,layer,laydate;
    layui.use(['form', 'laydate'], function() {
        form = layui.form;
        layer = layui.layer;
        laydate = layui.laydate;
    });

    $(function () {
        querySecuritiesCategory();
    })


    $(document).scroll(function() {
        var scroH = $(document).scrollTop();  //滚动高度
        var viewH = $(window).height();  //可见高度
        var contentH = $(document).height();  //内容高度
        if(scroH >100){  //距离顶部大于100px时
        }
        if (contentH - (scroH + viewH) <= 100){  //距离底部高度小于100px
            pageNo++;
            searchSubmit();
        }
        if (contentH == (scroH + viewH)){  //滚动条滑到底部啦
        }
    });

    function exportMarket(systemCode) {
        window.location.href = path + "/securities/exportMarket?systemCode=" +systemCode;
    }



    function querySecuritiesCategory() {
        $.post(path + "/securities/querySecuritiesCategory", {
        }, function (res) {
            if(res.code == 200){
                var data = res.data;
                var str = '<option value="">全部</option>'
                for(var i = 0; i < data.length; i++) {
                    str += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                }
                $('#securitiesCategory').html(str);
            }else{
                alert(res.msg);
            }
        });
    }


    function queryList() {
        pageNo = 1;
        $('.chart tbody').html('');
        searchSubmit();
    }

    function searchSubmit() {
        var obj = form.val('formFilter');
        $.post(path + "/securities/queryRecommendData", {
            securitiesCategoryId: obj.securitiesCategoryFilter,
            code: obj.code,
            pageNo: pageNo,
            pageSize: pageSize
        }, function (res) {
            if(res.code == 200){
                var data = res.data;
                var str = '';
                for(var i in data){
                    if(data[i].follow == 2){
                        str += "<tr style='color: red;'>";
                    }else{
                        str += "<tr>";
                    }
                    str += '<td>' + (parseInt(i) + 1 + ((pageNo - 1) * pageSize)) + '</td><td>' + data[i].systemCode + '</td><td>' + data[i].code + '</td><td>' + data[i].name + '</td>' +
                        '<td>' + data[i].securitiesCategory + '</td><td>' + data[i].price + '</td><td>' + data[i].fiveAveragePrice + '</td><td>' + data[i].fifteenAveragePrice + '</td>' +
                        '<td>' + data[i].fiveDayDifference + '</td><td>' + data[i].fifteenDayDifference + '</td><td>';
                    if(data[i].follow == 2){
                        str += '<button class="layui-btn layui-btn-danger layui-btn-xs" onclick="updateFollow(\'' + data[i].systemCode + '\',1)">取消关注</button>' +
                            '<button class="layui-btn layui-btn-normal layui-btn-xs" onclick="showSecuritiesMarket(\'' + data[i].code + '\')">查看详情</button></td></tr>';
                    }else{
                        str += '<button class="layui-btn layui-btn-primary layui-btn-xs" onclick="updateFollow(\'' + data[i].systemCode + '\',2)">确认关注</button>' +
                            '<button class="layui-btn layui-btn-normal layui-btn-xs" onclick="showSecuritiesMarket(\'' + data[i].code + '\')">查看详情</button></td></tr>';
                    }

                }
                $('.chart tbody').append(str);
            }else{
                alert(res.msg);
            }
        });
    }


    function showSecuritiesMarket(code) {
        window.open(path + "/securities/showSecuritiesMarket/" + code);
    }


    function updateFollow(systemCode, follow) {
        $.post(path + "/securities/updateFollow", {
            systemCode: systemCode,
            follow: follow
        }, function (res) {
            if(res.code == 200){
                queryList();
            }else{
                alert(res.msg);
            }
        });
    }
    
</script>

</html>