<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <style type="text/css">
        .markt1{
            position: fixed;
            top: 0px;
            background-color: #FFFFFF;
            z-index: 1000;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="chart">
        <div id="markt"></div>
        <div id="markt_" style="height: 400px;width: 100%;display: none;"></div>
        <div id="potentialEnergy"></div>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-v3.6.0.js"></script>
<script type="text/javascript" src="/echarts-5.0.2/echarts.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    var path = "http://127.0.0.1:8080";
    var url = window.location.href;
    var code = url.substring(url.lastIndexOf("/") + 1);
    document.title = code + "-分析";
    queryMarkt();
    $(document).scroll(function() {
        var scroH = $(document).scrollTop();  //滚动高度
        var viewH = $(window).height();  //可见高度
        var contentH = $(document).height();  //内容高度
        if(scroH == 0){  //到达顶部
            $('#markt_').hide();
            $('#markt').removeAttr('class');
        }
        if(scroH >100){  //距离顶部大于100px时
            $('#markt_').show();
            $('#markt').attr('class', 'markt1');
        }
        if (contentH - (scroH + viewH) <= 100){  //距离底部高度小于100px
        }
        if (contentH == (scroH + viewH)){  //滚动条滑到底部啦
        }
    });




    //下载行情数据
    function exportMarket(systemCode) {
        window.location.href = path + "/securities/exportMarket?systemCode=" +systemCode;
    }

    //查询行情数据
    function queryMarkt() {
        $('#markt').html('');
        $.post(path + "/securities/queryMarket", {
            code: code
        }, function (res) {
            if(res.code == 200){
                var data = res.data;
                var id = data.id;
                var systemCode = data.systemCode;
                $('#markt').append('' +
                    '<div style="width: 100%" id="' + id + '">' +
                    '   <div style="width: 60%; float: left;">' +
                    '       <div id="closingPrice' + id + '" style="width: 100%;height:400px;"></div>' +
                    '   </div>' +
                    '   <div>' +
                    '      <button class="layui-btn layui-btn-primary" onclick="exportMarket(\'' + systemCode + '\')">下载</button> ' +
                    '   </div>' +
                    '</div>');
                buildClosingPrice(data);
                queryPotentialEnergy();
            }else{
                alert(res.msg);
            }
        });
    }

    

    //构建行情图表
    function buildClosingPrice(data) {
        var id = data.id;
        var latitude = data.latitude;
        var closingPrice = data.closingPrice;
        var weekAvgClosingPrice = data.weekAvgClosingPrice;
        var halfMonthAvgClosingPrice = data.halfMonthAvgClosingPrice;
        var monthAvgClosingPrice = data.monthAvgClosingPrice;
        var quarterAvgClosingPrice = data.quarterAvgClosingPrice;
        var yearAvgClosingPrice = data.yearAvgClosingPrice;
        var name = data.name;
        var startTime = data.startTime;
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('closingPrice' + id));

        // 指定图表的配置项和数据
        option = {
            title: {
                text: name
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    animation: false,
                    label: {
                        backgroundColor: '#ccc',
                        borderColor: '#aaa',
                        borderWidth: 1,
                        shadowBlur: 0,
                        shadowOffsetX: 0,
                        shadowOffsetY: 0,
                        color: '#222'
                    }
                }
            },
            legend: {
                data: ['收盘价', '5日移动平均', '15日移动平均', '30日移动平均', '90日移动平均', '365日移动平均']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [{
                startValue: startTime
            }, {
                type: 'inside'
            }],
            xAxis: {
                type: 'category',
                data: latitude
            },
            yAxis: {
                type: 'value',
                min: function (value) {
                    return Math.floor(value.min);
                },
                max: function (value) {
                    return Math.ceil(value.max);
                },
            },
            series: [
                {
                    name: '收盘价',
                    data: closingPrice,
                    type: 'line',
                    showSymbol: false,
                    itemStyle:{
                        color: '#DB3462',
                    },
                    lineStyle: {
                        color: '#DB3462',
                        width: 1
                    },
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                },
                {
                    name: '5日移动平均',
                    data: weekAvgClosingPrice,
                    type: 'line',
                    itemStyle:{
                        color: '#A4E187',
                    },
                    lineStyle: {
                        color: '#A4E187',
                        width: 1
                    },
                    showSymbol: false,
                },
                {
                    name: '15日移动平均',
                    data: halfMonthAvgClosingPrice,
                    type: 'line',
                    itemStyle:{
                        color: '#FDD767',
                    },
                    lineStyle: {
                        color: '#FDD767',
                        width: 1
                    },
                    showSymbol: false,
                },
                {
                    name: '30日移动平均',
                    data: monthAvgClosingPrice,
                    type: 'line',
                    itemStyle:{
                        color: '#5B7AD7',
                    },
                    lineStyle: {
                        color: '#5B7AD7',
                        width: 1
                    },
                    showSymbol: false,
                },
                {
                    name: '90日移动平均',
                    data: quarterAvgClosingPrice,
                    type: 'line',
                    itemStyle:{
                        color: '#73C0DE',
                    },
                    lineStyle: {
                        color: '#73C0DE',
                        width: 1
                    },
                    showSymbol: false,
                },
                {
                    name: '365日移动平均',
                    data: yearAvgClosingPrice,
                    type: 'line',
                    itemStyle:{
                        color: '#3BA272',
                    },
                    lineStyle: {
                        color: '#3BA272',
                        width: 1
                    },
                    showSymbol: false,
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);
    }



    function queryPotentialEnergy() {
        $('#potentialEnergy').html('');
        $.post(path + "/securities/queryPotentialEnergy", {
            code: code
        }, function (res) {
            if(res.code == 200){
                var data = res.data;
                for(var i in data){
                    var id = data[i].id;
                    $('#potentialEnergy').append('' +
                        '<div style="width: 100%" id="' + id + '">' +
                        '   <div style="width: 60%; float: left;">' +
                        '       <div id="potentialEnergy' + id + '" style="width: 100%;height:300px;"></div>' +
                        '   </div>' +
                        '</div>');
                }
                if(data.length > 0){
                    buildRiseFallPrice(data);
                }
            }else{
                alert(res.msg);
            }
        });
    }


    function buildRiseFallPrice(data) {
        for(var i = 0; i < data.length; i++){
            var id = data[i].id;
            var latitude = data[i].latitude;
            var value = data[i].value;
            var startTime = data[i].startTime;
            // 基于准备好的dom，初始化echarts实例
            var chartDom = document.getElementById('potentialEnergy' + id);
            var myChart = echarts.init(chartDom);
            var option;
            var name = (i + 1) + "日均势";
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        animation: false,
                        label: {
                            backgroundColor: '#ccc',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            shadowBlur: 0,
                            shadowOffsetX: 0,
                            shadowOffsetY: 0,
                            color: '#222'
                        }
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                legend: {
                    data: [name]
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: [{
                    startValue: startTime
                }, {
                    type: 'inside'
                }],
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: latitude
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: name,
                    data: value,
                    type: 'line',
                    areaStyle: {},
                    itemStyle:{
                        color: '#DB3462',
                    },
                    lineStyle: {
                        color: '#DB3462',
                        width: 1
                    },
                    showSymbol: false,
                }]
            };

            option && myChart.setOption(option);
        }
    }
</script>

</html>